body{
    background: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" );

}


/* ESTO DE LA COLOR A LA BARRa*/
.barra {

background-color: #E9967A;
overflow: hidden;
border-radius: 10px 10px 10px 10px;
}

/* aqui le quito ese color morado asqueroso */
a {
color: azure;
}

/* AQUI PONDREMOS EL ESTILO DE LA BARRA DE LA ETIQUETA A*/
.barra a {

 float: left;
 columns: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 border-radius: 10px 0px 39px 22px;
 font-size: 17px;
 font-family: Calibri;

}


.link {
    color: #E67E22;
}



.link:hover{
    color: #E67E22;
}

/* color  del link en estado inactivo */
.barra a:hover {
    background-color: #E67E22;
    color: black;
}

/* color de los links activos */

.barra a.active {
background-color: #FA8072;
color: white;

}

/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  /* Change background color of buttons on hover */
  .tablink:hover {
    background-color: #777;
  }
  


